.pl-05 {
  padding-left: 2px !important;
}
.pl-8 {
  padding-left: 32px !important;
}
.pr-05 {
  padding-right: 2px !important;
}
.pb-05 {
  padding-bottom: 2px !important;
}

.mt-100px {
  margin-top: 100px;
}
.mt-50px {
  margin-top: 50px;
}
.mt-30px {
  margin-top: 30px !important;
}
.pt-100px {
  padding-top: 100px !important;
}

.fs-lg {
  font-size: $fontsize-large !important;
}
.fs-nml {
  font-size: 1rem !important;
}
.fs-sm {
  font-size: 0.8rem !important;
}
.fs-xsm {
  font-size: 0.6rem !important;
}

.fw-nml {
  font-weight: normal !important;
}

.page-container {
  max-width: $breakpoint-xs !important;
  height: 100%;
}
.page-tab-item {
  // モバイルブラウザにてフリックによるtab移動を行うため、表示領域全体にフリック判定を設ける
  min-height: calc(100vh - #{$header-height} - #{$header-tabs-height} - #{$footer-height});
}

.btn-action {
  min-width: 44px !important;
  height: 44px !important;
  padding: 0 0.5rem !important;
}

.btn-icon {
  pointer-events: none;
}

.chip-hover {
  pointer-events: none;
}

.card-border {
  border: thin solid rgba(0, 0, 0, 0.12) !important;
}

.txt-blue {
  color: blue !important;
}
.txt-red {
  color: red !important;
}

.border-red {
  border-color: #f44336 !important;
}
.border-pink {
  border-color: #e91e63 !important;
}
.border-purple {
  border-color: #9c27b0 !important;
}
.border-deep-purple {
  border-color: #673ab7 !important;
}
.border-indigo {
  border-color: #3f51b5 !important;
}
.border-blue {
  border-color: #2196f3 !important;
}
.border-light-blue {
  border-color: #03a9f4 !important;
}
.border-cyan {
  border-color: #00bcd4 !important;
}
.border-teal {
  border-color: #009688 !important;
}
.border-green {
  border-color: #4caf50 !important;
}
.border-light-green {
  border-color: #8bc34a !important;
}
.border-lime {
  border-color: #cddc39 !important;
}
.border-amber {
  border-color: #ffc107 !important;
}
.border-orange {
  border-color: #ff9800 !important;
}
.border-brown {
  border-color: #795548 !important;
}
.border-blue-grey {
  border-color: #607d8b !important;
}
.border-grey {
  border-color: #9e9e9e !important;
}
.border-black {
  border-color: #000000 !important;
}
